input{
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 24%;
  margin-top: 0px;
  margin-bottom: 25px;
  text-align: center;
}

button {
  width: 25%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  margin-top: 20px;
  margin-left: 36%;
}

.wall {
  background-color: #f1f1f1;
  padding: 20px;
  margin-left: 5%;
  margin-right: 5%
}

label{
  display: block;
  position: relative;
  margin-top: 20px;  
  margin-left: 24%;
  font-size: large;
}